@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  background-color: #121212;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3a3a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #242424;
}

@layer components {
  .bg-glass {
    @apply bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 hover:bg-gray-700/10 border-gray-800 text-white transition-all duration-500;
  }
}
